@import url('https://fonts.googleapis.com/css?family=Bungee|Bungee+Inline|Monoton|Passion+One|Varela+Round');
html {
    font-size: 62.5%;
}
body {
    background: #004851;
}
p {
    color: black;
}
h1 {
    color: white;
    text-align: center;
    font-family: Monoton, sans-serif;
    font-size: 7.5rem;
    letter-spacing: .7rem;
    word-spacing: 1rem;
    margin-bottom: .5rem;
    margin-top: .5rem;
    text-shadow: .3rem .3rem .5rem #004851;
}
header {
    font-family: "Varela Round", sans-serif;
    font-size: 1.5rem;
    background-image: linear-gradient(rgba(0,0,0,.50),transparent), url("https://i.imgur.com/N6Bts5M.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 130rem;
}    
h2 {
    color: white;
    text-align: center;
    font-family: Bungee, sans-serif;
    font-size: 4.75rem;
    margin-bottom: .02rem;
    letter-spacing: .5rem;
}
img {
    display: block;
    margin: 1;
}
.special {
    text-align: center;
}
.twitter {
    margin: 1 auto;
}
div {
    background: #8D9093;
    border-color: #54585A;
    border-style: solid;
    border-width: 1rem;
    display: block;
    padding: 1%;
    margin: 0 auto;
    max-width: 75%;
    line-height: 1.8;
    font-family: "Varela Round", sans-serif;
    font-size: 1.75rem;
    border-radius: 5rem;
}
nav {
    background: #54585A;
    border-style: solid;
    border-width: .5rem;
    border-right: .5rem;
    border-left: .5rem;
    border-color: black;
    text-align: left;
    margin-top: 2%;
    margin-bottom: 3%;
    padding: .02%;
    font-family: Bungee, sans-serif;
    font-size: 1.75rem; 
}
footer {
    background: #54585A;
    border-top: solid black 1rem;
    display: block;
    margin-top: 6rem;
    text-align: center;
    padding: 1rem;
    font-family: Bungee, sans-serif;
    font-size: 1.75rem;
}
article {
    box-sizing: border-box;
    background: #8D9093;
    border: solid #54585A 1rem;
    display: inline-block;
    padding: 2rem;
    margin: 0 auto;
    margin-left: 5rem;
    width: 65%;
    line-height: 1.8;
    font-family: "Passion One", sans-serif;
    font-size: 2rem;
    text-align: left;
    border-radius: 5rem 10rem 10rem 5rem;
}
h3 {
    color: white;
    font-family: Bungee, sans-serif;
    font-size: 2.75rem;
    text-align: left;
    border-style: solid;
    border-width: .10rem;
    border-right: .5rem;
    border-left: .5rem;
    border-color: black;
    margin-top: .1rem;
    letter-spacing: .2rem;
}
h4{
    font-family: "Passion One", sans-serif;
    font-size: 2.75rem;
    color: #004851;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
h5 {
    font-family: Bungee, sans-serif;
    font-size: 125%;
    color: black;
    margin-bottom: .5rem;
    margin-top: .5rem;
}
aside {
    display: inline-block;
    margin-top: 3rem;
    margin-left: 5rem;
    box-sizing: border-box;
    width: 20%;
    border: solid black .75rem;
    background: #54585A;
    font-family: "Passion One", sans-serif;
    font-size: 2rem;
    padding: 2rem;
    line-height: 120%;
    border-radius: 5rem 2rem 2rem 5rem;
}
#logo {
    display: block;
    margin: 0 auto;
}
#navigation p{
    display: inline-block;
    margin-left: 3rem;
    margin-right: 2rem;
}
h6 {
    font-family: Bungee, sans-serif;
    font-size: 125%;
    color: #004851;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
strong {
    color: #004851;
}
#head p {
    color: white;
    font-size: 1.75rem;
}
.fa-twitter {
    color: white;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 3rem;
}
.fa-globe {
    color: white;
    margin-right: 2rem;
    font-size: 3rem;
}
.fa-facebook-square {
    color: white;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 3rem;
}
.fa-instagram {
    color: white;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 3rem;
}
.fa-youtube {
    color: white;
    margin-left: 2rem;
    font-size: 3rem;
}
.fa-twitter:hover {
    color: #004851;
}
.fa-globe:hover {
    color: #004851;
}
.fa-facebook-square:hover {
    color: #004851;
}
.fa-instagram:hover {
    color: #004851;
}
.fa-youtube:hover {
    color: #004851;
}